bg_color: #171d21
font_color: #a5b0c0
error_font_color: #ff0000
cursor_color: #16b0ff
cursor_width: 2
vim_cursor_color: #fa5b62
vim_cursor_width: 4
unfocused_font_color: #4a4b4e
plain_header_font_color: #aac78c
header_font_color: #d5f0f8
pygments_style: monokai
line_color: #14140a
heavy_line_color: #555555
splitter_color: #171515
title_bar_bg_color: #171d21
title_bar_bg_opacity: 0.9
scrollbar_narrow_width: 4
scrollbar_width: 8
scrollbar_bg_color: #656565
scrollbar_thumb_color: #454545
scrollbar_hovered_thumb_color: #111111
tb_bg_color: #171d21
tb_bg_line_color: #2c2c2c
tb_tab_font_color: #c4c4c4
tb_tab_hovered_font_color: #eeeeee
tb_tab_selected_font_color: #3b87c7
tb_tab_selected_line_color: #3b89c9
markup_font_color: #a38e4b
list_sign_font_color: #448bfd
todo_undone_color: #dddddd
todo_done_color: #555555
code_font_color: #78e291
code_font_family: default
code_block_line_height: default
deleted_font_color: #515151
quote_sign_font_color: #4f555e
quote_font_color: #9a9a9a
bold_font_color: #e47b7c
italic_font_color: #bed18c
link_font_color: #77b87f
link_bg_color: #2c2c2c
link_alt_font_color: #becadd
link_refer_font_color: #5baee5
image_font_color: #ea5168
image_src_font_color: #e2afb8
image_bg_color: #262626
footnote_font_color: #a3a77a
flow_line_width: 2
toc_pound_sign_font_color: #999999
toc_bg_color: #1a1e20
toc_focused_bg_color: #171d21
comment_font_color: #555555
editor_selected_font_color: #a5b0c0
editor_selected_bg_color: #3f4f53
editor_progress_bg_color: #16b0ff
image_preview: true
colorful: true
keyword_bg_color: #eb1a8d
bg_color_for_export: #171d21
bg_color_for_mobile: #171d21
font_color_for_export: #a5b0c0
font_color_for_mobile: #a5b0c0
html_bg_color: #171d21
html_font_color: #a5b0c0
html_header_font_color: #eeeeee
html_bold_font_color: #ffffff
html_block_bg_color: #151515
html_pre_bg_color: ##333333
html_code_bg_color: #3b3b2e
html_line_color: #252525
html_strong_weight: bold
html_quote_sign_font_color: #555555
ls_font_family: default
ls_bg_color: #1a2024
ls_selected_bg_color: #4b5262
ls_font_color: #9b9b9b
ls_hovered_font_color: #9b9b9b
ls_font_size: 12
ls_line_color: #10161a
ls_controls_line_color: #10161a
ls_controls_bg_color: #192024
ls_controls_font_color: #9b9b9b
ls_controls_note_font_color: #555555
ls_item_height: 3em
ft_line_color: #252525
ft_bg_color1: #12161a
ft_bg_color2: #161920
ft_button_font_color: #818181
ft_button_font_size: 12
ft_label_font_size: 12
ft_button_hovered_font_color: #ffffff
ft_button_checked_font_color: #d2d2d2
ft_text_font_color: #818181
tray_window_bg_color: #666666
tray_window_line_color: #454545
tray_window_font_color: #dddddd
tray_window_button_color: #999999
tray_window_button_hovered_color: #ffffff
